{% extends "includes/layout.njk" %}

{% from "govuk/components/back-link/macro.njk"     import govukBackLink %}
{% from "govuk/components/input/macro.njk"         import govukInput %}
{% from "govuk/components/button/macro.njk"        import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "macros/title.njk"                         import title %}

{% block pageTitle %}
  {{ title(messages("accessCode.title"), form.errors) }}
{% endblock %}

{% block mainContent %}

  {{ govukBackLink({
    text: messages("site.back")
  }) }}

  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {% if form.errors.length > 0 %}
          {{ govukErrorSummary({
            "titleText": messages("error.summary.title"),
            "errorList": form.errors
          }) }}
        {% endif %}

        <form action="{{ routes.controllers.AccessCodeController.onSubmit(mode).url }}" method="post">

          {{ csrf() | safe }}

        <div class="govuk-form-group {%- if form.value.error %} govuk-form-group--error{% endif %} ">

           <h1 class="govuk-label-wrapper">
              <label class="govuk-label govuk-label--xl" for="accessCode">
                    {{ messages("accessCode.heading") }}
              </label>
          </h1>

        <div id="accessCode-hint" class="govuk-hint">
                {{ messages('accessCode.hintText') }}
        </div>

         {%- if form.value.error %}
              <span id="declaration-place-error" class="govuk-error-message">
                  <span class="govuk-visually-hidden">{{ messages('error.title.prefix') }}</span> {{ form.value.error.text }}
                  </span>
         {% endif %}


         <input class="govuk-input {%- if form.value.error %} govuk-input--error{% endif %}"
            id="accessCode"
            name="value"
            type="text"
            aria-describedby="accessCode.hintText"
            {%- if form.value.value %} value="{{ form.value.value}}"{% endif %}>
         </div>








          {{ govukButton({
            text: messages("site.continue")
          }) }}

        </form>

      </div>
    </div>
  </div>

{% endblock %}
