{% extends "includes/layout.njk" %}

{% from "macros/title.njk"                         import title %}
{% from "govuk/components/panel/macro.njk"         import govukPanel %}

{% block pageTitle %}
  {{ title(messages("balanceConfirmation.title")) }}
{% endblock %}

{% block mainContent %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {{ govukPanel({
          titleText: messages("balanceConfirmation.heading"),
          html: "<strong>" + balance + "</strong>",
          classes: "break-all"
        }) }}

        {% switch referral %}

          {% case "ncts" %}

            <p>{{ messages("balanceConfirmation.fromNcts.p") }}</p>
            <ul class="govuk-list govuk-list--bullet">
              <li><a class="govuk-link" href={{ checkAnotherGuaranteeBalanceUrl }} id="check-another-guarantee-balance">{{ messages("balanceConfirmation.fromNcts.link1") }}</a></li>
              <li><a class="govuk-link" href={{ routes.controllers.BalanceConfirmationController.manageTransitMovements().url }} id="manage-transit-movements">{{ messages("balanceConfirmation.fromNcts.link2") }}</a></li>
            </ul>

          {% default %}

            <p>{{ messages("balanceConfirmation.fromGovUk.p") }}
              <a class="govuk-link" href={{ checkAnotherGuaranteeBalanceUrl }} id="check-another-guarantee-balance">{{ messages("balanceConfirmation.fromGovUk.link") }}</a>.
            </p>

        {% endswitch %}

      </div>
    </div>

{% endblock %}
