{% extends "includes/layout.njk" %}

{% from "macros/title.njk"                         import title %}

{% block pageTitle %}
  {{ title(messages("detailsDontMatch.title")) }}
{% endblock %}

{% block mainContent %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
          {{ messages("detailsDontMatch.heading") }}
        </h1>

        <p>{{ messages("detailsDontMatch.p1") }}
          <a class="govuk-link" id="try-again" href={{ routes.controllers.CheckYourAnswersController.onPageLoad().url }}>{{ messages("detailsDontMatch.p1.a") }}</a>.
        </p>

        <p>{{ messages("detailsDontMatch.p2") }}
          <a class="govuk-link" target="_blank" id="contact" rel="noopener noreferrer" href={{ config.nctsEnquiriesUrl }}>{{ messages("detailsDontMatch.p2.a") }}</a>.
        </p>

      </div>
    </div>

{% endblock %}
