{% extends "includes/layout.njk" %}

{% from "govuk/components/back-link/macro.njk"     import govukBackLink %}
{% from "govuk/components/input/macro.njk"         import govukInput %}
{% from "govuk/components/button/macro.njk"        import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "macros/title.njk"                         import title %}

{% block pageTitle %}
  {{ title(messages("guaranteeReferenceNumber.title"), form.errors) }}
{% endblock %}

{% block beforeContent %}

  {{ govukBackLink({
    text: messages("site.back")
  }) }}

{% endblock %}

{% block mainContent %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {% if form.errors.length > 0 %}
          {{ govukErrorSummary({
            "titleText": messages("error.summary.title"),
            "errorList": form.errors
          }) }}
        {% endif %}

        <form action="{{ routes.controllers.GuaranteeReferenceNumberController.onSubmit(mode).url }}" method="post">

          {{ csrf() | safe }}

          {% set hintHtml = [
            "<p class='govuk-body'>", messages('guaranteeReferenceNumber.paragraph1'), "</p>",
            "<ul class='govuk-list govuk-list--bullet'>",
              "<li>", messages('guaranteeReferenceNumber.bullet1'), "</li>",
              "<li>", messages('guaranteeReferenceNumber.bullet2'), "</li>",
              "<li>", messages('guaranteeReferenceNumber.bullet3'), "</li>",
            "</ul>",
            "<p class='govuk-body'>", messages('guaranteeReferenceNumber.paragraph2'), "</p>"
          ] | join %}

          {{ govukInput({
            label: {
              text: messages('guaranteeReferenceNumber.title'),
              isPageHeading: true,
              classes: "govuk-label--xl"
            },
            hint: {
              html: hintHtml,
              classes: "hint-as-label"
            },
            id: "value",
            classes: "govuk-input--width-20",
            name: "value",
            value: form.value.value,
            errorMessage: form.value.error
          }) }}

          {{ govukButton({
            text: messages("site.continue")
          }) }}

        </form>

      </div>
    </div>

{% endblock %}
