{% extends "includes/layout.njk" %}

{% from "macros/title.njk"                         import title %}

{% block pageTitle %}
  {{ title(messages("timedOut.title")) }}
{% endblock %}

{% block mainContent %}

  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
          {{ messages("timedOut.heading") }}
        </h1>

        <p>
            {{ messages("timedOut.paragraph1") }} <a href={{ redirectUrl }} target="_blank" rel="noopener noreferrer">{{ messages("timedOut.linkText") }}</a>.
        </p>

        <p>
         {{ messages("timedOut.heading") }}
        </p>

      </div>
    </div>
  </div>

{% endblock %}
