{% extends "includes/layout.njk" %}

{% from "macros/title.njk"                         import title %}
{% from "govuk/components/button/macro.njk"        import govukButton %}


{% block pageTitle %}
  {{ title(messages("tryAgain.title")) }}
{% endblock %}

{% block mainContent %}

  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
          {{ messages("tryAgain.heading") }}
        </h1>

        <form action="{{ routes.controllers.TryAgainController.onSubmit(mode).url }}" method="post">

          {{ csrf() | safe }}


        <p>
            {{ messages("tryAgain.paragraph1") }} <a href={{ redirectUrl }} target="_blank" rel="noopener noreferrer">{{ messages("tryAgain.linkText") }}</a>.
        </p>

        <p>
         {{ messages("tryAgain.paragraph2") }}
        </p>

             {{ govukButton({
                    text: messages("tryAgain.buttonText"),
                    preventDoubleClick: true,
                    attributes: {id: "submit"}
              }) }}

        </form>


      </div>
    </div>
  </div>

{% endblock %}
