{% extends 'error.njk' %}
{% extends "includes/layout.njk" %}

{% from "govuk/components/button/macro.njk"        import govukButton %}
{% from "macros/title.njk"                         import title %}

{% block pageTitle %}
  {{ title(messages("tryGuaranteeBalanceAgain.title")) }}
{% endblock %}

{% block mainContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">{{ messages("unsupportedGuaranteeType.heading") }}</h1>

      <p class ="govuk-body">
          <div class="govuk-body">{{ messages("unsupportedGuaranteeType.paragraph") }}</div>
          <ul class="govuk-list govuk-list--bullet">
              <li>{{ messages("unsupportedGuaranteeType.paragraph.bullet1") }}</li>
              <li>{{ messages("unsupportedGuaranteeType.paragraph.bullet2") }}</li>
              <li>{{ messages("unsupportedGuaranteeType.paragraph.bullet3") }}</li>
          </ul>
      </p>

      <p class="govuk-body">{{ messages("unsupportedGuaranteeType.checkDetails") }}
        <a class="govuk-link" id="checkDetails-link" href="{{ routes.controllers.CheckYourAnswersController.onPageLoad().url }}">
            {{ messages("unsupportedGuaranteeType.checkDetails.link") }}
        </a> {{ messages("unsupportedGuaranteeType.checkDetails.postLink") }}
      </p>

      <form action="{{ routes.controllers.StartController.start().url }}" method="post">

        {{ csrf() | safe }}

        {{ govukButton({
          text: messages("site.startAgain"),
          preventDoubleClick: true,
          attributes: {id: "submit"}
        }) }}

      </form>
    </div>
  </div>
{% endblock %}