{% extends 'error.njk' %}
{% extends "includes/layout.njk" %}

{% from "govuk/components/button/macro.njk"        import govukButton %}
{% from "macros/title.njk"                         import title %}

{% block pageTitle %}
  {{ title(messages("waitOnGuaranteeBalance.title")) }}
{% endblock %}

{% block mainContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">{{ messages("waitOnGuaranteeBalance.heading") }}</h1>
      <p class="govuk-body">{{ messages("waitOnGuaranteeBalance.checkDetails.prelink") }}
        <a class="govuk-link" id="check-details" href="{{ routes.controllers.CheckYourAnswersController.waitOnResultsPageLoad(balanceId).url }}">
            {{ messages("waitOnGuaranteeBalance.checkDetails.link") }}
        </a>
        {{ messages("waitOnGuaranteeBalance.checkDetails.postlink", waitTimeInSeconds) }}
      </p>

      <form action="{{ routes.controllers.WaitOnGuaranteeBalanceController.onSubmit(balanceId).url }}" method="post">
         {{ csrf() | safe }}

         {{ govukButton({
            text: messages("site.tryAgain"),
            preventDoubleClick: true,
            attributes: {id: "submit"}
         }) }}
      </form>
   </div>
  </div>
{% endblock %}