// ******************************************************
// ******************************************************
// hide back link if no js is enabled as link is js powered
// ******************************************************
// ******************************************************
.govuk-back-link {
    display: none;
}
.js-enabled .govuk-back-link {
    display: inline-block;
}


// make numbers easier to read
@supports (font-variant-numeric: tabular-nums) {
    table,
    input,
    .ctc-format-ref {
        -webkit-font-feature-settings:normal;
        font-feature-settings: normal;
        font-variant-numeric: tabular-nums;
    }
}