$govuk-assets-path: "/ctc-guarantee-balance/assets/lib/govuk-frontend/govuk/assets/";
$hmrc-assets-path: "/ctc-guarantee-balance/assets/lib/hmrc-frontend/hmrc/assets";

@import "lib/govuk-frontend/govuk/all";
@import "lib/hmrc-frontend/hmrc/all";

@import "partials/page-heading";
@import "partials/header";
@import "partials/shame";
@import "partials/timeout-dialog";

.govuk-summary-list__actions-list-item {
    display: inline-block;
}

.hint-as-label {
    @extend .govuk-label;
    @extend #{'.govuk-\\!-padding-bottom-2'};
}

p {
    @extend .govuk-body;
}

a {
    @extend .govuk-link;
}
